* {
  margin: 0;
  padding: 0;
  list-style: None;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --title-color: #25282b;
  --text-color: #3e3e42;
  --red-color: #f12c45;
  --bg-footer: #69747b;
}

.container{
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

.header {
  background: var(--red-color);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-mobile{
  display: none;
}

ul {
  display: flex;
}

a{
  color: white;
  text-decoration: none;
  padding-left: 25px;
}

.logo, .nav {
  padding: 20px;
}

/*PARTIE HERO*/
.hero {
  background: url('../images/cordonnier.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 30vh;
  background-position: cover;
}

.hero-contain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.hero-title {
  background-color: var(--red-color);
  color: white;
  width: max-content;
  padding: 10px;
  font-size: 3vw;
  font-weight: 500;
}
.hero-subtitle {
  background: var(--bg-footer);
  width: max-content;
  padding: 10px;
  font-weight: 500;
  font-size: 1.7vw;
}
.scrolling {
  position: absolute;
  top: 29%;
  left: 0;
  right: 0;
  text-align: center;
  max-width: 100vw;
	max-height: 100vh;
  font-size: 24px;
  text-transform: uppercase;
}
/*PARTI PROPOS*/
.Propos{
  padding: 100px;
}
.propos-contain {
  display: flex;
  align-items: center;
}

.propos-title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-right: 50px;
  color: var(--text-color);
}
.propos-texte{
  padding-right: 50px;
}

.propos-para {
  font-size: 20px;
}

.image-propos {
  box-shadow: 40px 40px var(--red-color);
}

/*Services*/

.services{
 padding: 25px;
}

.services-titles {
  text-align: center;
  color: var(--text-color);
  font-size: 20px;
  padding-bottom: 20px;
}

.item-services {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.image-services {
  height: 250px;
  width: 340px;
}

.services-texte{
  width: 340px;
  text-align: start;
  border: 1px solid#69747b;
}

.title {
  padding-bottom: 15px;
  color: var(--text-color);
}
.texte-service {
  padding: 10px;
}

/*Contact*/
.contact{
  margin-bottom: 2.5vh;
}
.contact-title {
  text-align: center;
  padding-bottom: 15px;
  color: var(--text-color);
}

.contain {
  display: flex;
  justify-content: start;

}

.form {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.maps {
  display: flex;
  width: 63%;
}

.btn {
  display: flex;
  justify-content: end;
}
button{
  width: 85px;
  height: 35px;
  background-color: #437BFD;
  color: white;
border: 1px solid transparent;
border-radius: 5px;
}

/* Footer */
.footer{
  background-color: var(--bg-footer);
  height: 10%;
  display: flex;
}

@media screen and (max-width : 1024px) {

  .hero-title {
    width: 100%;
    font-size: 3vh;
    text-align: center;
  }
  .hero-subtitle {
    width: 100%;
    font-size: 1.5vh;
    text-align: center;
  }
  .propos-contain {
    flex-direction: column;
    text-align: center;
  }
  .propos-texte{
    padding-bottom: 20px;
  }
  .image-propos {
    height: 70%;
    width: 100%;
    box-shadow: none;
  }

  .item-services {
    flex-direction: column;
    align-items: center;
  }
  .services-texte {
    text-align: start;
    width: 50vw;
    padding: 0;
  }
  .image-services {
    width: 100%;
    height: auto;
  }
  .reparation, .entretien, .mesure {
    margin-bottom: 2.5vh;
  }
  .contain {
    flex-direction: column-reverse;
  }
  input, label, textarea , select , option {
    width: 50%;
  }
  .form {
    align-items: center;
  }
  .maps {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1.5vh;
  }
}

@media screen and (max-width : 624px) {
  .nav {
    display: none;
  }
  .nav-mobile {
    display: block;
  }
  .nav-mobile:hover>.sous{
    display: block;
  }
  .sous {
    display: none;
    flex-direction: column;
    text-align: start;
    background-color: grey;
  }
}

@media screen and (max-width : 375px) {
  .container {
    width: 100vw;
    max-width: 320px;
  }
  .Propos {
    padding: 0;
    padding-top: 100px;
  }

  .services{
    padding: 0;
    padding-top: 100px;
  }
  .services-texte {
    width: 80%;
  }
  .reparation, .entretien, .mesure{
    display: flex;
    justify-content: center;
  }
  .form{
    display: flex;
  }
  label, input, textarea, label, select {
    width: 100%;
  }
}