
.bg-net {
  background: url("../image/cordonnier.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center center;
  background-attachment: fixed;
  opacity: 1;
  position: relative;
  z-index: 0;
  transition: ease-in-out;
}
header{
  z-index: 2;
}
#bg-blur{
  background-image: url("../image/cordonnierBlur.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-attachment: fixed;
  position: absolute;
}

#title-hero{
  transition: ease-in-out;
}

#ImgShadow{
  box-shadow:  30px 30px #DC3544;
}

.scrolling {
  position: absolute;
  top: 90%;
  font-weight: 300;
  left: 0;
  right: 0;
  text-align: center;
  max-width: 100vw;
	max-height: 100vh;
  font-size: 22px;
  text-transform: uppercase;
  animation: slidein;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes slidein{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0px);
  }
}

.menu{
  display: none;
}

li>ul {
  transform: translatex(100%) scale(0)
}

li:hover>ul {
  transform: translatex(101%) scale(1)
}

li>button svg {
  transform: rotate(-90deg)
}

li:hover>button svg {
  transform: rotate(-270deg)
}

.group:hover .group-hover\:scale-100 {
  transform: scale(1)
}

.group:hover .group-hover\:-rotate-180 {
  transform: rotate(180deg)
}

.scale-0 {
  transform: scale(0)
}

.min-w-32 {
  min-width: 8rem
}

.navmobile{
  top: 60px;
  right: 0px;
  width: 100px;
  text-align: center;
}

.active{
  opacity: 100%!important;
}

@media screen and (max-width : 768px){
  #ImgShadow {
    box-shadow: none;
  }
}

@media screen and (max-width : 493px) {
  .Navbar {
    display: none;
  }
  .menu{
    display: block;
  }
}